<!DOCTYPE html>
<!-- This is a layout page -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>

        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>#{msgs.pageTitle}</title>

        <h:outputStylesheet library="webjars" name="bootstrap/3.3.7-1/css/bootstrap.min-jsf.css" />
        <h:outputStylesheet library="webjars" name="bootstrap/3.3.7-1/css/bootstrap-theme.min-jsf.css" />
        <h:outputStylesheet library="webjars" name="font-awesome/4.7.0/css/font-awesome.min-jsf.css" />
        <h:outputStylesheet library="css" name="style.css" />

    </h:head>
    <h:body>

        <ui:include src="../sections/menu.xhtml" />

        <ui:include src="../sections/header.xhtml" />
        <div class="container">
            <!--            <ui:include src="../content/content1.xhtml" />-->
            <ui:include src="#{selector.select1}" />
            <ui:include src="../sections/footer.xhtml" />
        </div>

        <!-- load js at bottom for faster loading-->
        <h:outputScript library="webjars" name="jquery/3.1.1-1/jquery.min.js"/>
        <h:outputScript library="webjars" name="bootstrap/3.3.7-1/js/bootstrap.min.js" />

    </h:body>
</html>