<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <div class="footer">
        <p>420-625-DW Internet Application Project</p>
    </div>
</ui:composition>